

.unComent{
	box-shadow: 0 2px 5px #666666;
	border-radius: 8px 8px 8px 8px;
	list-style: none outside none;
	margin-left: 35%;
	margin-right: 35%;
	padding: 15px;
	width: 46%;
	float:left;
	clear:left;
	
}

/*.comment-nombre-fecha {
	float: left;
	margin: 10px 10px 19px;
	padding-left: 5px;
	padding-top: 5px;
	position: relative;
	width: 74%;
}
.comment-texto {
	margin-right: 5px;
	margin-top: 71px;
	padding-left: 5px;
	padding-top: 10px;
}*/