@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url("font-awesome.min.css");
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	margin:0;
} */
/*

header{
    box-sizing: border-box;
	text-align: center;
    width: 100%;
    padding: 25px 40px;
    background-color: #673AB7;
    overflow: hidden;
}


header h1{
    float: left;
	font: normal 24px/1.5 'Open Sans', sans-serif;
	color: #fff;
}

header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;

}*/

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	background: #1C1C1C;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li{ 
    float: left;
	background-color: #333;
	width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	margin-left:20px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
	padding: 32px 2px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2E2E2E;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:2;
}

.dropdown-content a {
    color:#FFFFFF ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #2E2E2E}

.dropdown:hover .dropdown-content {
    display: block;
}
.header-panel{
    box-sizing: border-box;
	text-align: center;
    width: 100%;
    padding: 25px 40px;
    background-color: #EF2F72;
    overflow: hidden;
}
.nav2 {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 75px;
}

.nav2 .nav2-a{
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;

    transition: 0.2s ease;
}

.nav2 .nav2-li .nav2-a{
    background-color: #F05283;
    pointer-events: none;
}

.nav2 .nav2-li .nav2-a:hover {
    opacity: 1;
}


.nav2 .nav2-li{
    display: inline-block;
}

.div1 {
float:left;
margin-left: 240px;
}
.div2 {
margin-left:20px;
float:left;
}
.div3 {
float:left;
}
.title{
    
    /*border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;*/
    color:#FFF;
	padding: 20px;
    margin-top: 0;
    text-align: center;
   
}

@media screen and (min-width: 737px)
#footer-wrapper {
    padding: 5em 0em;
}

#footer-wrapper {
    position: relative;
    background: #191919;
	margin-top:90px;
}

#footer {
		text-align: center;
		
	}

		#footer h2 {
			font-weight: 700;
		}

		#footer p {
			letter-spacing: 0.10em;
		}

		/* Footer */
			.footer-main-color {
				background:#191919;
			}
			
			
			#footer {
				text-align: center;
				color: #fff;
				font-family: 'Open Sans Condensed', sans-serif;
			}

				#footer h2 {
					font-size: 1.6em;
					font-family: 'Open Sans Condensed', sans-serif;
				}

				#footer p {
					padding: 0 7em;
				}
/* Lists */
	#footer ul.contact {
		margin-left: 450px;
		padding: 2em 0em 0em 0em;
		list-style: none;
		cursor: default;
	}

		#footer .contact .contact-li {
			display: inline-block;
			padding: 0em 0.25em;
			font-size: 1.2em;
		}

			#footer .contact .contact-li span {
				display: none;
				margin: 0;
				padding: 0;
			}

			#footer .contact .contact-li a {
				color: #FFF;
			}

				#footer .contact .contact-li a:before {
					-moz-transition: all 0.25s ease-in-out;
					-webkit-transition: all 0.25s ease-in-out;
					-ms-transition: all 0.25s ease-in-out;
					transition: all 0.25s ease-in-out;
					display: inline-block;
					background: #2e2e2e;
					width: 60px;
					height: 60px;
					line-height: 60px;
					border-radius: 30px;
					text-align: center;
					color: #939291;
				}

				#footer .contact .contact-li a:hover:before {
					background: #393939;
					color: #FFF;
				}

				#footer .contact .contact-li a:active:before {
					background: #2b2b2b;
					color: #FFF;
				}
		
		
/* Copyright */

	#copyright {
		overflow: hidden;
		text-align: center;
		color: #61666c;
		
	}
#footer .contact {
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
    cursor: default;
}

#footer .contact .contact-li a:before {
				display: inline-block;
				background: #3f3f3f;
				border-radius: 25px;
				width: 50px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				color: #FFFFFF;
			}

