#contenedor{
	background-color: #EF2F72;
	width: 100%;
	height: auto;
}

#contenedor header{
	padding-top: 0px;

}

#contenedor nav{
	padding:30px;
	padding-top: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

#contenedor header nav ul{
	margin-top:-8px;
	
	margin-bottom: 0px;
	margin-left: 5.95em;
}


#contenedor header nav ul li{
	display: inline-block;

}

.logo{
	margin-left: 20px;
	margin-right: 7%;
}
.circle{
	width:100px; 
	height: 100px; 
	border-radius: 50px; 
	background: #2e2e2e;
	text-align:center;
	color:white;
	line-height: 100px;
	margin-right:10px; 
	margin-left:10px;
}

#maindiv{
	padding: 0;
	margin: 0;
	background-color: #333333;
}

#main-nav ul {

  list-style: none;

  margin: 0;

  padding: 0;

}

 
.dropotron {
  background: #2E2E2E;
  border-radius: 5px;
  border-top: solid 1px #373737;
  border-bottom: 0;
  list-style: none;
  margin: 0;
  min-width: 20em;
  padding: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
	color:#ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 0.9em;
  letter-spacing: 0.20em;
	
	text-transform: uppercase;
	
}

.dropotron > li {
  border-top: solid 1px #373737;
  margin: 0em;
  padding-left: 0em ;
  padding-top: 0em ;
  padding-right:0em ;
  padding-bottom: 0em;
}

.dropotron > li:first-child { 
	border-top: 0;
	padding-top: 0.5em;
}
.dropotron > li:last-child { 
	
	padding-bottom: 0.5em;
}
.dropotron > li > a {
  color: #ffffff;
  display: block;
  padding: 1.15em 1.70em;
  text-decoration: none;
  
 

}

.dropotron > li.active > a,
.dropotron > li:hover > a { color: #fff; }

/* Only applies to top level ("level-0") menus */

.dropotron.level-0 { margin-top: 1.55em; }

.dropotron.level-0:before {
  content: '';
  position: absolute;
  margin-left: 9.2em;
  border-bottom: solid 0.9em #2E2E2E;
  border-left: solid 0.9em transparent;
  border-right: solid 0.9em transparent;
  border-top: solid -0.5em transparent;
  /*width: 1em;
  height: 1em;*/
  top: -0.9em;
}

#footer{
	background: #191919;
	margin: 0;
	padding: 5em;
	padding-bottom: 12em;
}

#footer h2{
	text-align: center;
	color:#ffffff;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	letter-spacing: 0.10em;
	margin-bottom: 0;
	padding-bottom: -1em;
}

#footer p {
	letter-spacing: 0.10em;
	text-align: center;
	margin:0;
	padding: 0;
	color:#555555;
	font-size: 1em;
}

.pie{
	margin-top: 2em;
	list-style: none;
	text-align: center;
	padding: 0em 0.25em;
	
}

.pie li{
	display: inline-block;
		background: #2e2e2e;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	text-align: center;
	line-height: 68px;
	padding: 0em 0.5em;
	cursor: default;
	
}

.pie li:hover{
	
	background-color: #2e2e2e;
	color: #939291;
}

.pie li a:before{
	background-color: #2e2e2e;
	color: #939291;
}


}
.pie li a:hover{
					background: #393939;
					color: #FFF;
}

.pie li a:active:before {
					background: #2b2b2b;
					color: #FFF;
}
.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.75em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 0em;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
#copyright{
	margin-top: 4.5em;
	text-align: center;
		color: #61666c;
		overflow: hidden;
		font-size: 0.95em;
}

 