@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700|Open+Sans+Condensed:300,700");
@import url("../../../css/font-awesome.min.css");
@import url("../fonts/OpenSans-CondBold.ttf");
@import url("../fonts/OpenSans-CondLight.ttf");
@import url("../fonts/OpenSans-CondLightItalic.ttf");

#contenedor{
	background-color: #EF2F72;
	width: 100%;
	height: auto;
}

#contenedor header{
	padding-top: 0px;

}

#contenedor nav{
	padding:10px;
	padding-top: 30px;
	padding-bottom: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

#contenedor header nav ul{
	margin-top:-8px;
	
	margin-bottom: 0px;
	margin-left: 5.95em;
}


#contenedor header nav ul li{
	display: inline-block;

}

.logo{
	margin-left: 20px;
	margin-right: 7%;
}
.circle{
	width:100px; 
	height: 100px; 
	border-radius: 50px; 
	background: #2e2e2e;
	text-align:center;
	color:white;
	line-height: 100px;
	margin-right:10px; 
	margin-left:10px;
}

#maindiv{
	padding: 0;
	margin: 0;
	background-color: #333333;
	text-align: center;
}

#maindiv p{
	font-family: 'Open Sans Condensed',sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 2em;

}
.msn{
	padding-top: 1em;
}
.span{
	padding: 1em;
	margin: 0;
}

#main-nav ul {

  list-style: none;

  margin: 0;

  padding: 0;

}

 
.dropotron {
  background: #2E2E2E;
  border-radius: 5px;
  border-top: solid 1px #373737;
  border-bottom: 0;
  list-style: none;
  margin: 0;
  min-width: 19em;
  padding: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
	color:#ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 0.9em;
  letter-spacing: 0.20em;
	
	text-transform: uppercase;
	
}

.dropotron > li {
  border-top: solid 1px #373737;
  margin: 0em;
  padding-left: 0em ;
  padding-top: 0em ;
  padding-right:0em ;
  padding-bottom: 0em;
}

.dropotron > li:first-child { 
	border-top: 0;
	padding-top: 0.5em;
}
.dropotron > li:last-child { 
	
	padding-bottom: 0.5em;
}
.dropotron > li > a {
  color: #ffffff;
  display: block;
  padding: 1.15em 1.70em;
  text-decoration: none;
  
 

}

.dropotron > li.active > a,
.dropotron > li:hover > a { color: #fff; }

/* Only applies to top level ("level-0") menus */

.dropotron.level-0 { margin-top: 1.55em; }

.dropotron.level-0:before {
  content: '';
  position: absolute;
  margin-left: 8.7em;
  border-bottom: solid 0.9em #2E2E2E;
  border-left: solid 0.9em transparent;
  border-right: solid 0.9em transparent;
  border-top: solid -0.5em transparent;
  /*width: 1em;
  height: 1em;*/
  top: -0.9em;
}

.dropotron li a div{
	background: red;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 10px;
    padding-top: 1px;
    display: inline-block;
    float: right;
}
#footer{
	background: #191919;
	margin: 0;
	padding: 5em;
	padding-bottom: 12em;
}

#footer h2{
	text-align: center;
	color:#ffffff;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	letter-spacing: 0.10em;
	margin-bottom: 0;
	padding-bottom: -1em;
}

#footer p {
	letter-spacing: 0.10em;
	text-align: center;
	margin:0;
	padding: 0;
	color:#555555;
	font-size: 1em;
}

.pie{
	margin-top: 2em;
	list-style: none;
	text-align: center;
	padding: 0em 0.25em;
	
}

.pie li{
	display: inline-block;
		background: #2e2e2e;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	text-align: center;
	line-height: 68px;
	padding: 0em 0.5em;
	cursor: default;
	
}

.pie li:hover{
	
	background-color: #2e2e2e;
	color: #939291;
}

.pie li a:before{
	background-color: #2e2e2e;
	color: #939291;
}


}
.pie li a:hover{
					background: #393939;
					color: #FFF;
}

.pie li a:active:before {
					background: #2b2b2b;
					color: #FFF;
}
.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.75em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 0em;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
#copyright{
	margin-top: 4.5em;
	text-align: center;
		color: #61666c;
		overflow: hidden;
		font-size: 0.95em;
}

#btn-disparar{
	-moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    background: #79B800;
    border-radius: 5px;
    padding: 1.3em;
    padding-left: 2em;
    padding-right: 2em;
    border-color: #79B800;
    font-family: 'Open Sans Condensed',sans-serif;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    border-style: none;
}

#tiempo-finalizar{
	color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  font-weight: 800;
  margin-top: 1em;
}

/*Estilos boton de prueba para pasar etapas*/



#maindiv .reinicio{
	padding: 10px;
  /* padding-bottom: 0; */
  margin-bottom: 0;
    border-radius: 5px;
    /* box-shadow: none; */
    border: 0;
    background-color: #60B822;
    color: #fff;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: bold;
    font-size: 20px;
}
#advertisment{
	display: block;
}

@media screen and(min-width: 736px) and (max-width: 991px){
	
		#titleBar {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
				background: none;
			}

				#titleBar .toggle {
					position: absolute;
					top: 0;
					left: 0;
					text-indent: -9999px;
					width: 60px;
					height: 44px;
				}

					#titleBar .toggle:before {
						-moz-transition: all 0.15s ease-in-out;
						-webkit-transition: all 0.15s ease-in-out;
						-ms-transition: all 0.15s ease-in-out;
						transition: all 0.15s ease-in-out;
						content: '';
						position: absolute;
						top: 6px;
						left: 6px;
						display: block;
						width: 54px;
						height: 38px;
						background-color: rgba(92, 95, 103, 0.5);
						border-radius: 0.25em;
					}

					#titleBar .toggle:after {
						content: '';
						display: block;
						width: 44px;
						height: 44px;
						position: absolute;
						left: 15px;
						top: 6px;
						background: url("images/toggle.svg") 8px 14px no-repeat; 
						opacity: 0.5;
					}

					#titleBar .toggle:active:before {
						background-color: rgba(92, 95, 103, 0.75);
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #191919 url("images/overlay.png"); 
				box-shadow: inset -3px 0px 4px 0px rgba(0, 0, 0, 0.1);
			}

				#navPanel .link {
					display: block;
					color: rgba(255, 255, 255, 0.5);
					text-decoration: none;
					font-size: 1em;
					text-decoration: none;
					height: 44px;
					line-height: 44px;
					border-top: solid 1px rgba(255, 255, 255, 0.05);
					margin: 0 15px 0 15px;
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #fff;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #titleBar {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}


			#maindiv{
				display: none;
			}

			#advertisment{
			display: none;
			}
}/*screen min-width:736px and max-width:991px*/; 


@media screen and (min-width: 992px){
	#maindiv{
		display: block;
	}
	#advertisment{
		display: none;
	}

	#navPanel, #titleBar {
		display: none;
	}
}